<%- include("header"); -%>

<div class="container-fluid">
    <h1>Home</h1>
    <%= homeString %><br>


<% for(let i=0; i < data.length; i++){ %>
    <h1><%= data[i].title %></h1>
    <%= data[i].content.slice(0,100) %>... <a href="/post/<%= i %>">Read more</a>
<% } %>
</div>

<%- include("footer"); -%>